

html, body {
  font-family: 'Nerko One';
	font-size: 16px;
	background-color: var(--body-bg); 
	color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.wrapper {
	overflow-y: scroll;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

section {
}
 

.circle{
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}
/* .no-cursor {
  cursor: none;
} */
:root {
    
    --body-bg: rgb(25, 24, 24);
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(251, 130, 170);
    --text-primary:#7a7a7a;
    --text-secondary:#f5dddd;
    --bg-primary:rgb(13, 13, 13);
    --bg-secondary: #272736;
    --transition-speed: 600ms;

    --text: #2B3044;
    --line: #BBC1E1;
    
    /* congratulations */
    --some-color:rgb(255,222,173);  /* change in future */ 
    --dark: rgb(15, 15, 15);
    --deg: -86deg;
    --trans: all 0.4s ease 0s;

    /* star-rating */
    --bg: rgb(223,10%,90%);
    --fg: rgb(223,10%,10%);
    --primary: rgb(255, 197, 51);
    --yellow: rgb(255, 183, 0);
    --yellow-t: rgb(255, 204, 0);
    --bezier: cubic-bezier(0.42,0,0.58,1);
    --trans-dur: 0.3s;
  }
main{
  margin-left: 9rem;
}
/* NAVBAR */


li{
  /* cursor: pointer; */
}



.navbar{
  position: fixed;
  transition: 200ms;
}

.navbar-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item{
  width: 100%;
  transition: var(--transition-speed);
  margin-bottom: 2rem;
}
.nav-item:last-child{
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.nav-link{
  display: flex;
  align-items: center;
  
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.6);
  transition: var(--transition-speed);
}
.nav-link:hover{
  transform: scale(1.055,1.055);
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
}

.logo__nav-link{
  display: flex;
  justify-content: space-around;
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--text-secondary);
  letter-spacing: 0.3ch;
  width: 100%;
  transition: var(--transition-speed);
}


.navbar:hover .nav-link{
  padding-left: .3rem;
  
}

.navbar:hover .logo svg{
  transform: rotate(-180deg);
}
.p-inline{
  display: inline;
}

.link-text{
  transition: var(--transition-speed);
  display: none;
  margin-left: 0.5rem;
  letter-spacing: .3ch;
  font-size: 17px;
}

.nav-link svg{
  opacity: 0;
  width: 2.15rem;
  min-width: 2.15rem;
  margin: 0 2rem 0 2.5rem;
  transition: var(--transition-speed);
}
.logo svg{
  opacity: 1;
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}
.navbar:hover .nav-link svg{
  opacity: 1;
}
.nav-item:hover .nav-link svg {
  margin:  0 2.3rem 0 2.35rem;
}


.fa-primary {
  color: #ff7eee;
}
.fa-secondary {
  color: #df49a6;
}
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

/* small screens */
@media only screen and (max-width: 800px){
  .nav-item{
    margin-top: auto;
  }
  .nav-link svg{
    margin: 0 2rem;
  }
  .navbar{
   position: absolute;
   z-index: 100;
    bottom: 1rem;
    left: 2vw;
    border-radius: 1.5rem;
    min-width: 96vw;
    height: 5rem;
    background: var(--body-bg);
    backdrop-filter:blur(5px);
    border: 0.7px solid rgba(255, 253, 253, 1);
  }
  .logo{
    display: none;
  }
  .navbar-nav{
    flex-direction: row;
  }
  
  .nav-link svg{
    opacity: 1;
    width: 2rem;
  }

  .nav-link svg:hover link-text{
    display: none;
  }
  .link-text{
    display: none;
  }
  .nav-link{
    align-items: center;
    justify-content: center;
  }
  .nav-link svg:hover .nav-link{
    align-items: center;
    justify-content: center;
  }
  main{
    margin: 0;
  }
}
@media only screen and (max-width: 800px){
  .nav-link svg{
    margin: 0px 1rem;
    transform: scale(0.8);
  }
}



/* large screens */
@media only screen and (min-width: 800px){
  .navbar{
    top: 0;
    width: 7rem;
    height: 100vh;
    padding: 1rem;
  }
  .logo{
    border-radius: 1rem;
  }
  .navbar:hover{
    width: 19rem;
  }
  .navbar:hover .link-text{
    display: inline;
    transition: opacity var(--transition-speed);
  }
  
  
  
}
/*NAVBAR */


@font-face{
	font-family: trap;
	src:url('/fonts/Trap-Black.otf');
	src:url('/fonts/Trap-Bold.otf');
	src:url('/fonts/Trap-ExtraBold.otf');
	src:url('/fonts/Trap-Light.otf');
	src:url('/fonts/Trap-Medium.otf');
	src:url('/fonts/Trap-Regular.otf');
	src:url('/fonts/Trap-SemiBold.otf');
}
::-webkit-scrollbar { /* webkit */
	width: 0.25rem; 
}
::-webkit-scrollbar-track{
  background: transparent;
  
}
::-webkit-scrollbar-thumb{
  background: #DDA0DD;
  border-radius: 5rem;
}
  
/* ------------------ */

/*                full-screen           */
.full-screen__container{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 230px;
}
.full-screen {
	height: 100vh;
	
}
.full-screen__body {
	margin: 20px;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: space-around;
	flex-direction: column;
	text-transform: uppercase;
	/* cursor:pointer; */
	
}
.full-screen__title {
	font-size: 45px;
	letter-spacing: 25px;
	font-weight: 700;
}
/*                  full-screen    */

  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  
  h1 {
    font-size: 30px;
    margin: 0px 0px 30px 0px;
    transition: all 0.4s;
  }
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

  /* stars */
  h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    transition: 1s;
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h1 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }
  h1 > .magic > .magic-star > svg > path {
    fill: var(--violet);
  }

  /* strars */

.magic-text{
  
}
.full-screen__text {
	font-size: 22px;
	letter-spacing: 15px;
	margin: 0px 0px 30px 0px;
  width: 10ch;
  animation: typing 1s steps(1000), blink .7s step-end infinite alternate;
  white-space: nowrap;
  border-right: 2.75px solid;
  overflow: hidden;
  
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.full-screen__video {
  /*
	border-top:none;
  border-bottom:none;
  border-left: 6px solid #fff;
  border-right: 6px solid #fff;
  */
  
  outline: 2px solid #fff;
  outline-offset: 0rem;
	width: 100vh;
	object-fit: cover;
	border-radius: 100%;
  box-shadow: 0 0px 50px 1px rgba(255, 255, 255, 0.6);
}

.container {
	max-width: 1200px;
	margin: 0px auto;
}
.content__container p {
	margin: 0px 0px 20px 0px;
}
p{
    margin: 0;
}

@media screen and (max-width:1400px){
  .full-screen__container{
    gap: 10rem;
  }
  .full-screen__body{
    margin-left: 10rem;
    transform: scale(0.9)
  }
  .full-screen__video{
    margin-right: 6rem;
  }
}
@media screen and (max-width:1240px){
  .full-screen__container{
    gap: 5rem;
  }
  .full-screen__body{
    transform: scale(0.8)
  }
}
@media screen and (max-width:1170px){
  .full-screen{
    margin-right: 3.5rem;
  }
  .magic-text{
    margin-left: 1rem;
  }
  .full-screen__container{
    gap: 0rem;
    flex-direction: column;
  }
  .full-screen__text{
    margin: 2rem auto;
  }
  .full-screen__video{
    transform: scale(0.5);
    margin: -9rem 0 0 0 ;
    outline: 0px solid #fff;
  }
  .full-screen__body{
    margin:10rem 0 0  0;
    transform: scale(1)
  }
}
@media screen and (max-width:600px){
  .full-screen__video{
    transform: scale(0.4);
  }
  .full-screen__body{
    margin-top: 10px;
    margin-bottom: -50px;
  }
  
}
@media screen and (max-width:480px){
  .full-screen__video{
    transform: scale(0.3);
  }
  .magic-text{
    font-size: 40px;
  }
  .full-screen__text{
    font-size: 20px;
  }
  .full-screen__title{
    letter-spacing: 17px;
  }
  

}
@media screen and (max-width:380px){
  .full-screen__video{
    transform: scale(0.25);
    margin: -20rem 0 0 0 ;
  }
  .magic-text{
    font-size: 35px;
  }
  
}
/*                 birthday          */


 .birthday{
	min-height: 100vh;
}
.birthday__container {
}
.birthday__box {
  position: relative;
  height: 75vh;
  display: flex;
}

.birthday_right {
  margin: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-weight: 600;
  text-align: justify;
  font-size: 35px;
  line-height: 200%;
  letter-spacing: 1.45px;
    
  cursor: pointer;
}

.right__addresat{
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  padding-right: 2.25rem;
  /* cursor: pointer; */
  transition: 1s;
}
.shown {
}
.hidden { 
  display: none;
}
.span__box:hover .shown{
  display: none;
}
.span__box:hover .hidden{
  display: inline;
  color: var(--violet);
}
.right__text{
  /*border-right: 3.4px solid #fff;*/
  padding: 25px;
  margin: 100px;
  transition: .1s;
  /* cursor: pointer; */
}
.right__text span{
  transition: .1s;
}
.right__text span:hover{
  color: var(--pink);
  text-transform: uppercase;
}

.corner-one {
  height: 3px;
  width: 40px;
  background: #fff;
  border-radius: 100px 100px 100px 0 ;
}
.corner-two {
  width: 3px;
  height: 35px;
  background: #fff;
  border-radius: 0px 0 0 100px 100px;

}


.corner-three {
  width: 3px;
  height: 35px;
  background: #fff;
  border-radius: 100px 100px 0 100px;
  
}
.corner-four {
  height: 3px;
  width: 40px;
  background: #fff;
  border-radius: 0px 100px 100px 100px;
}

.right__addresat a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}
.right__addresat a {
  margin: 0px 4.5px;
}

.right__addresat a svg {
  width: 76px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -15px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2.5px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.6s;
}
.right__addresat a:hover {
  --spacing: 4px;
  --stroke: var(--pink);
  --stroke-delay: .1s;
  --offset: 180px;
}


@media screen and (max-width:1650px){
  .corner-one,
  .corner-two,
  .corner-three,
  .corner-four{
    background-color: transparent
  }
  
  .right__text{
    margin: 30px 100px;
  }
  .navbar:hover{
    width: 17rem;
    z-index: 10;
  }
}
@media screen and (max-width:1400px){
  .right__text{
    margin: 100px 100px 0px 100px;
    padding: 5rem;
  }
  .right__addresat{
    margin-top: -4rem;
  }
}
@media screen and (max-width:1100px){
  .right__text{
    font-size: 30px;
    line-height: 180%;
    padding: 5rem 3rem;
  }
  
}

@media screen and (max-width:1024px){
  
  .birthday{
    margin-right: 3.5rem;
  }
  .right__text{
    padding: 3rem 1rem;
    line-height: 200%;
    margin: 100px 40px 0px 40px;
  }
  
}
@media screen and (max-width:800px){
  .full-screen{
    margin-right: 0rem;
  }
  .right__text{
    margin: 0px 2rem;
    padding: 3rem 0;
  }
  .birthday{
    margin-right: 0rem;
  }
   
 
}
@media screen and (max-width:700px){
  .right__text{
    margin: 0px 10px;
  }
}
@media screen and (max-width:644px){
  .birthday__box{
    height: 50vh;
  }
  .birthday{
    min-height: 74vh;
  }
}
@media screen and (max-width:530px){
  .right__text{
    font-size: 25px;
  }
  .birthday__box {
    height: 40vh;
}
.birthday{
  min-height: 60vh;
}
}
@media screen and (max-width:430px){
  .right__text{
    font-size: 22.5px;
  }
  .birthday__box {
    height: 20vh;
}
.birthday{
  min-height: 60vh;
}
}
@media screen and (max-width:380px){
  .right__text{
    font-size: 19px;
  }
  .birthday__box {
    height: 1vh;
}
.birthday{
  min-height: 40vh;
}
}

/*                  birthday         */
 


 /*                  BEGIN          */
 /* .begin {
	min-height: 100vh;
}
.begin__box {
  display: flex;
	justify-content: space-between;
	gap: 100px;
}
.begin__important {
    min-width: 410px;
}

.important__title {
    cursor: pointer;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    transition: 1s;
}
.important__title:hover{
    transform: scale(1.1,1.1);
}
.importamt_image {
    margin: 80px 0px 50px 137px;
    max-height: 250px;
    max-width: 250px;
}
.begin__info {
    border-radius: 0 0 20px 0;
    margin-top: 90px;
	
 
}
.info__text {
	font-family:Cormorant Garamond;
	font-weight: 600;
    text-align: justify;
    font-size: 25px;
    line-height: 200%;
    letter-spacing: 1.35px;
} */


@import url('https://fonts.googleapis.com/css2?family=Caveat&family=DynaPuff&family=Montserrat:wght@500&display=swap');

.title{
  font-family: 'DynaPuff', cursive;
  margin: -4rem auto 6rem auto;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-shadow:  7px 7px var(--primary),
                18px 18px black;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 4px;
                -webkit-text-stroke-color: white;
}


.begin{
  min-height: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {

}

h2 {
	text-align: center;
}

.team {
 
	padding: 2em 7em;
	margin: 0;
}

.member {
	margin: 1.75rem 4rem 2rem 0 ;
	padding: 0.73em ;
  width: 90%;
	background: var(--some-color);
	position: relative;
	list-style: none;
	display: inline-block;
  border-radius: 1.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0);
	transition: var(--trans);
  
}
.member:hover {
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px #0008);
  background-color: transparent;
  border: 0.1rem solid var(--some-color);
  transform: translate(0.1rem,0.1rem) scale(1.08) ;
}
.member:hover .description p{
  color: var(--some-color)
}
.member:hover .description a{
  background: transparent;
  border-radius: 0rem;
}
.member:nth-of-type(even) {
	text-align: right;
	padding: 0.73em ;
  margin: 1.75em 0 2rem 4rem ; 
}

.thumb {
	width: 13vmin;
	height: 13vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--some-color) 0 70%,
		var(--some-color) 0% 100%
	);
	transform: rotate(-4deg);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.member:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--dark);
}



.member:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
}

.member:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.member:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.description {
	padding-top: 1vmin;
}

.description p {
  font-size: 1.25rem;
	padding: 0 2em;
	margin-bottom: 1em;
  color:var(--dark);
  transition: var(--trans);
}



h3 {
	background: linear-gradient(182deg, #fff0 55%, var(--body-bg) 0 100%);
	display: inline;
  transition: var(--trans);
	transform: rotate(-2deg);
	position: absolute;
	margin: 0 10px 0 10px;
	margin-top: -2.25em;
	left: 9vmin;
	padding: 0.35em 0.75em;
	color: var(--some-color);
	border-radius: 0.25em;
	font-size: 1.4em;
	transform-origin: left bottom;
  border: 1,5px solid rgba(1,1,1,0);
  cursor: pointer;
}

.member:nth-of-type(even) h3 {
	left: inherit;
	right: 9vmin;
	transform: rotate(2deg) ;
	transform-origin: right bottom;
	background: linear-gradient(-182deg, #fff0 55%, var(--body-bg) 0 100%);
}

.member:hover h3 {
	transform: rotate(0deg) ;
	background: linear-gradient(180deg, #fff0 55%, var(--body-bg) 0 100%);
  border: 1.5px solid var(--some-color)
}
.member h3:hover{
  transform: translateX(1rem) ;
}
.member:nth-of-type(even) h3:hover{
  transform: translateX(-1rem)
}


.co-funder:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
}

.description p a {
  letter-spacing: .2ch;
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: var(--dark);
	color: var(--some-color);
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: var(--trans);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.description p a:hover {
	transition: var(--trans);
  border-bottom:2px solid var(--some-color);
  border-radius: 0rem;
  padding: 0.1em 0em 0.35em 0rem;
  
}


.description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}
.member .thumb:hover{
  transform: translateX(-0.8rem) rotate(-2.5deg);
}
.member:nth-of-type(even) .thumb:hover{
  transform: translateX(0.8rem) rotate(2.5deg)
}


@media only screen and (max-width: 600px){
  
}




/* large screens */
@media only screen and (min-width: 400px){
  .member{
    filter: blur(1px);
  }
  .thumb img{
    filter: blur(2.5px) grayscale(1)
  }
  .description h3{
    filter: blur(1.5px)
  }
  .description p a{
    filter: blur(1.5px)
  }
  .member:hover{
    filter: blur(0px);
  }
  .member:hover .thumb img{
    filter: blur(0px) grayscale(0);
  }
  .member:hover .description h3{
    filter: blur(0px);
  }
  .member:hover .description p a{
    filter: blur(0px);
  }
}



@media screen and (max-width:1024px){
  .begin{
    margin-right: 3.5rem;
  }
  .title{
    font-family: 'DynaPuff', cursive;
    margin: 2rem auto 5rem auto;
    font-size: 4rem;
    letter-spacing: 0.4rem;
    text-shadow:  7px 7px var(--primary),
                  18px 18px transparent;
                  -webkit-text-fill-color: transparent;
                  -webkit-text-stroke-width: 2.5px;
                  -webkit-text-stroke-color: white;
  }
}
@media screen and (max-width:800px){
  .begin{
    margin-right: 0rem;
  }
  .team{
    padding:0;
    margin: 2rem 4rem;
  }
  .description p a{
    margin-top: 1em;
  }
}
@media screen and (max-width:600px){
  .title{
    font-size: 2.5rem;
  }
}
@media screen and (max-width:500px){
  .title{
    font-size: 2rem;
  }
  .team{
    margin: 2rem 2rem 0 6rem;
  }
  .member{
    margin: 3rem auto;
  }
  .member:nth-child(even){
    margin: 3rem auto ;
  }
  .description p {
    text-align: justify;
  }
}
@media screen and (max-width:430px){
  .member{
    transform: scale(0.85);
  }
  .description h3{
    font-size: 1em;
  }
  .team {
    margin: 2rem 2rem 0 4rem;
}
.title{
  font-size: 1.6rem;
}
.member:hover{
  transform: scale(0.92.5);
}
}

/*                  BEGIN          */



/* Memories */

.photos{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
}
.group {
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.item {
  width: 13vw;
  height: 25vh;
  background-position: center;
  background-size: 25vh;
  margin: 1.15vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  transition: 1s ;
  filter: grayscale(1) blur(4.5px) ;
}
.item:hover{
  height: 36vh;
  background-size: 36vh;
  width: 18vw;
  filter: grayscale(0) blur(0);
  transform: scale(1.03) ;
}
.item2{
  background-image:url('../img/photo_8.jpg');
  margin: 1vh 1vh 1vh auto;
  width: 11vw;
  height: 15vh;
}
.item2:hover{
  height: 28vh;
  background-size: 28vh;
  
  width: 14vw;
}
.item4:hover{
  height: 30vh;
  background-size: 30vh;
  width: 15vw;
}

.item1{
  background-image:url('../img/photo_1.jpg');
  width: 12vw;
  height: 25vh;
  background-size: 34vh;
  background-position: left;
  
}
.item5{
  background-image:url('../img/photo_7.jpg');
  width: 12vw;
  height: 25vh;
  background-size: 32vh;
  background-position: right;
}
.item5:hover{
  height: 30vh;
  background-size: 30vh;
  width: 15vw;
}
.item4{
  background-image:url('../img/photo_9.jpg');
  background-position: right;
  width: 8vw;
}
.item3{
  background-image:url('../img/photo_2.jpg');
  height: 26vh;
  background-size: 34vh;
  width: 14vw;
  background-position: left;
  
}
.item3:hover{
  width: 19.5vw;
  height: 39vh;
  background-size:39vh;
}



.item6{
  background-image:url('../img/photo_6.jpg');
  height: 22vh;
  background-size: 34vh;
  width: 13vw;
  background-position: right;
}
.item6:hover{
  width: 17vw;
  height: 34vh;
  background-size:34vh;
}

/* Поместить все что вше в @media от 1000 например, и дальше потом подставлять, но уже после того, как будут сделанны блоки выше */
@media only screen and (max-width: 800px){
  .photos{
    margin: 0rem 0 10rem 0 ;
    display: block;
  }
  .item {
    width: 50vw;
    height: 25vh;
    background-size: 50vh;
    margin: 2rem auto;
  }
  .item:hover{
    width: 70vw;
    height: 45vh;
    background-size: 60vh;
  }
  .star-rating{
    margin:30rem 0 -20rem 0 ;
  }
}
@media only screen and (max-width: 561px){
  .photos{
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 511px){
  .photos{
    margin-top: 15rem;
  }
}
@media only screen and (max-width: 502px){
  .photos{
    margin-top: 20rem;
  }
}
@media only screen and (max-width: 501px){
  .photos{
    margin-top: 30rem;
  }
}
@media only screen and (max-width: 490px){
  .photos{
    margin-top: 40rem;
  }
}
@media only screen and (max-width: 459px){
  .photos{
    margin-top: 45rem;
  }
}
@media only screen and (max-width: 442px){
  .photos{
    margin-top: 55rem;
  }
}
@media only screen and (max-width: 435px){
  .photos{
    margin-top: 100rem;
  }
  .item {
    width: 40vw;
    height: 20vh;
    background-size: 30vh;
    margin: 2rem auto;
  }
  .item:hover{
    width: 60vw;
    height: 30vh;
    background-size: 30vh;
  }
}
@media only screen and (max-width: 386px){
  .photos{
    margin-top: 110rem;
  }
}
@media only screen and (max-width: 366px){
  .photos{
    margin-top: 117.5rem;
  }
  .item {
    width: 50vw;
    height: 25vh;
    background-size: 30vh;
    margin: 2rem auto;
  }
  .item:hover{
    width: 60vw;
    height: 30vh;
    background-size: 40vh;
  }
}
/* Memories */






/* Star-rating section */



/* audio */
/* audio */
















/* star-rating */
.star-rating {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3ch;
  justify-content: center;
  align-items: center;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}
.rating{
  transform: scale(2);
}

.rating__display {
  font-size: 1em;
  font-weight: 500;
  min-height: 1.25em;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
}
.rating__stars {
  display: flex;
  position: relative;
}
.rating__star {
  display: block;
  overflow: visible;
  pointer-events: none;
  width: 2em;
  height: 2em;
}
.rating__star-ring, .rating__star-fill, .rating__star-line, .rating__star-stroke {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.rating__star-ring, .rating__star-fill, .rating__star-line {
  stroke: var(--yellow);
}
.rating__star-fill {
  fill: var(--yellow);
  transform: scale(0);
  transition: fill var(--trans-dur) var(--bezier), transform var(--trans-dur) var(--bezier);
}
.rating__star-stroke {
  stroke: #c7cad1;
  transition: stroke var(--trans-dur);
}
.rating__label {
  cursor: pointer;
  padding: 0.125em;
}
.rating__label--delay1 .rating__star-ring, .rating__label--delay1 .rating__star-fill, .rating__label--delay1 .rating__star-line, .rating__label--delay1 .rating__star-stroke {
  animation-delay: 0.05s;
}
.rating__label--delay2 .rating__star-ring, .rating__label--delay2 .rating__star-fill, .rating__label--delay2 .rating__star-line, .rating__label--delay2 .rating__star-stroke {
  animation-delay: 0.1s;
}
.rating__label--delay3 .rating__star-ring, .rating__label--delay3 .rating__star-fill, .rating__label--delay3 .rating__star-line, .rating__label--delay3 .rating__star-stroke {
  animation-delay: 0.15s;
}
.rating__label--delay4 .rating__star-ring, .rating__label--delay4 .rating__star-fill, .rating__label--delay4 .rating__star-line, .rating__label--delay4 .rating__star-stroke {
  animation-delay: 0.2s;
}
.rating__input {
  -webkit-appearance: none;
  appearance: none;
}
.rating__input:hover ~ [data-rating]:not([hidden]) {
  display: none;
}
.rating__input-1:hover ~ [data-rating="1"][hidden], .rating__input-2:hover ~ [data-rating="2"][hidden], .rating__input-3:hover ~ [data-rating="3"][hidden], .rating__input-4:hover ~ [data-rating="4"][hidden], .rating__input-5:hover ~ [data-rating="5"][hidden], .rating__input:checked:hover ~ [data-rating]:not([hidden]) {
  display: block;
}
.rating__input-1:hover ~ .rating__label:first-of-type .rating__star-stroke, .rating__input-2:hover ~ .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__input-3:hover ~ .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__input-4:hover ~ .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__input-5:hover ~ .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
  stroke: var(--yellow);
  transform: scale(1);
}
.rating__input-1:checked ~ .rating__label:first-of-type .rating__star-ring, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-ring, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-ring, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-ring, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-ring {
  animation-name: starRing;
}
.rating__input-1:checked ~ .rating__label:first-of-type .rating__star-stroke, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-stroke, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-stroke, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-stroke, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-stroke {
  animation-name: starStroke;
}
.rating__input-1:checked ~ .rating__label:first-of-type .rating__star-line, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-line, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-line, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-line, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-line {
  animation-name: starLine;
}
.rating__input-1:checked ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:checked ~ .rating__label:nth-of-type(-n + 2) .rating__star-fill, .rating__input-3:checked ~ .rating__label:nth-of-type(-n + 3) .rating__star-fill, .rating__input-4:checked ~ .rating__label:nth-of-type(-n + 4) .rating__star-fill, .rating__input-5:checked ~ .rating__label:nth-of-type(-n + 5) .rating__star-fill {
  animation-name: starFill;
}
.rating__input-1:not(:checked):hover ~ .rating__label:first-of-type .rating__star-fill, .rating__input-2:not(:checked):hover ~ .rating__label:nth-of-type(2) .rating__star-fill, .rating__input-3:not(:checked):hover ~ .rating__label:nth-of-type(3) .rating__star-fill, .rating__input-4:not(:checked):hover ~ .rating__label:nth-of-type(4) .rating__star-fill, .rating__input-5:not(:checked):hover ~ .rating__label:nth-of-type(5) .rating__star-fill {
  fill: var(--yellow-t);
}
.rating__sr {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

@keyframes starRing {
  from, 20% {
    animation-timing-function: ease-in;
    opacity: 1;
    r: 8px;
    stroke-width: 16px;
    transform: scale(0);
  }
  35% {
    animation-timing-function: ease-out;
    opacity: 0.5;
    r: 8px;
    stroke-width: 16px;
    transform: scale(1);
  }
  50%, to {
    opacity: 0;
    r: 16px;
    stroke-width: 0;
    transform: scale(1);
  }
}
@keyframes starFill {
  from, 40% {
    animation-timing-function: ease-out;
    transform: scale(0);
  }
  60% {
    animation-timing-function: ease-in-out;
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes starStroke {
  from {
    transform: scale(1);
  }
  20%, to {
    transform: scale(0);
  }
}
@keyframes starLine {
  from, 40% {
    animation-timing-function: ease-out;
    stroke-dasharray: 1 23;
    stroke-dashoffset: 1;
  }
  60%, to {
    stroke-dasharray: 12 12;
    stroke-dashoffset: -12;
  }
}

@media screen and (max-width:1650px){
  .photos{
    margin-right: 3.5rem;
  }
  .star-rating{
    margin-right: 3.5rem;
  }
 
}
@media screen and (max-width:800px){
  .photos{
    margin-right: 0rem;
  }
  .star-rating{
    margin-right: 0rem;
  }
 
}
@media screen and (max-width:500px){
  .star-rating{
    transform: scale(0.85);
  }
}
